
       body{
        background-color: lightskyblue;
       }
       h1{
        color: black; 
        text-align: center;
        padding: 10px;
        font-size: 45px;
       }
       .bordered-image {
              border: 5px solid white;
          }
          
       img{
        height: 65vh;
        position: relative;
        left: 540px;
        top: 30px
       }
       .centered-link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 0vh;
       }
       p{
        color: black;
        text-align: center;
        padding: 150px;
        font-size: 50px;
       }
